.custom-navbar {
  background-color: #006B3C; /* Cadmium Green */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .navbar-toggler-icon {
  color: #fff; /* White text for better contrast */
}

.custom-navbar .nav-link.active {
  color: #FFD700; /* Optional: Highlight active link with a gold color */
}

.btn-outline-info,
.btn-outline-primary {
  border-color: #FFD700;
}