<div class="home-container">
  <header class="home-header">
    <h1>Welcome to Devraj Medicals</h1>
  </header>
  <section class="home-content">
    <h1>Available Medicals</h1>
    <div class="shop-items" *ngFor="let medicine of getAllIsActiveMedicines">
      <div class="shop-item">
        <h3> Name : {{ medicine.name}}</h3>
        <p>Category Name : {{ medicine.category }}</p>
        <p>Price : {{ medicine.price }}</p>
      </div>
    </div>
  </section>
  <footer class="home-footer">
    <p>&copy; 2024 My Shop</p>
  </footer>
</div>