<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name" />
      <input type="password" placeholder="password" />
      <input type="text" placeholder="email address" />
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form [formGroup]="loginForm" class="login-form">
      <input type="text" class="form-control" id="username" formControlName="username"
        [ngClass]="{'is-invalid': isUserNameInvalid()}" placeholder="username">
      <div *ngIf="isUserNameInvalid()" class="text-danger validationMessage">
        <div *ngIf="loginForm.get('username').errors?.required">User Name is required.</div>
        <div *ngIf="loginForm.get('username').errors?.minlength">User Name must be at least 6 special and
          characters long.
        </div>
      </div>
      <input type="password" class="form-control" id="password" formControlName="password"
        [ngClass]="{'is-invalid': isPasswordInvalid()}" placeholder="password">
      <div *ngIf="isPasswordInvalid()" class="text-danger validationMessage">
        <div *ngIf="loginForm.get('password').errors?.required">Password is required.</div>
        <div *ngIf="loginForm.get('password').errors?.minlength">Password must be at least 3 characters
          long.
        </div>
      </div>
    </form>
    <button (click)="onLogin()">login</button>
    <div class="createAccountButton">
      <button  (click)="openModal()">Create an account</button>
      </div>
    <app-modal></app-modal>
  </div>
</div>