/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Modal styles */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.custom-navbar {
  background-color: #006B3C; /* Cadmium Green */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .navbar-toggler-icon {
  color: #fff; /* White text for better contrast */
}

.custom-navbar .nav-link.active {
  color: #FFD700; /* Optional: Highlight active link with a gold color */
}

.btn-outline-info,
.btn-outline-primary {
  border-color: #FFD700; /* Optional: Outline buttons with a gold border */
  color: #FFD700; /* Gold text for buttons */
}

.btn-outline-info:hover,
.btn-outline-primary:hover {
  background-color: #FFD700; /* Gold background on hover */
  color: #006B3C; /* Cadmium Green text on hover */
}

